body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
    
}
p {
    padding-left: 20px;
    margin: 10px;
}

.nav {
    text-decoration: none;
    color: inherit;
    padding-right: 5;
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
}
.notification {
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 3px solid rgb(70, 175, 240);
}
.Btn {
    border-radius: 20%;
    border: 1px;
    margin-left: 10px;
    font-size: 15px;
    background-color: inherit;
    color:black;
    border: 1px solid black;
    padding: 4px
}
.Btn:hover{
    background-color: rgb(68, 202, 255);
}

.blogBox {
    padding: 5px;
    font-size: auto;
    color: inherit;
    text-decoration: none;
}
.blogBox:hover, .nav:hover {
    color:pink;
}

.visibility {
    border-radius: 10%;
    padding: 2px 5px;
    margin-left: 10px;
    border: solid black 0.2px;
    cursor: pointer;
}

.like {
    font-size: 12px;
    margin-left: 10px;
    border-radius: 20%;
    border: 1px;
    background-color: lightgreen;
    cursor: pointer;
}
.like:hover {
    background-color: lightblue;
}
.remove {
    border-radius: 10%;
    padding: 2px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid black 0.2px;
    color: red;
    font-weight: 700;
    background-color: inherit;
}
.remove:hover {
    background-color: red;
}

.usersView {
    margin-left: 30px;
    font-weight: 700;
}